@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  bottom: 0px;
  text-align: center;
}

.tabs > li {
  display: inline-block;
}

.tabs a {
  display: inline-block;
  background-color: #fff;
  border: solid 4px #000;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: all 100ms linear;
}

.tabs a:hover {
  background-color: #000;
  color: #fff;
}

.images {
  padding-bottom: .5em;
  width: 100%;
}

.one .two .three .four .five {
  position: absolute;
}

img {
  display: none;
}

img:target {
  display: block;
 }
